# 디폴트 무시된 파일
/shelf/
/.idea/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#env 파일 무시 **젤 중요
.env
#.DS_Store파일무시
.DS_Store
#.DS_Store파일 무시
views/.DS_Store

#아이템 부분 이미지만 무시
/public/images/item_IMG/*
!/public/images/item_IMG/더미.gitkeep

#randURL파일은 무시, 없으면 알아서 생성할거임
/routes/sys_management/randURL/