body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-grid-container {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "header"
    "main-item1"
    "main-item2";
}

header {
  grid-area: header;
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px;
  position: relative; /* Needed for absolute positioning of child */
}

.welcome-img {
  width: 700px;
  height: 250px;
  display: block; /* To remove extra space below image */
  margin: 0 auto; /* Center the image */
}

.indroduction-img-container {
  position: relative;
  width: 700px; /* Match image width */
  margin: 0 auto; /* Center the container */
}

.bottom-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 33.33%;
  background: rgba(0, 0, 0, 0.1);
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 첫 번째 영역: 대여중인 아이템 */
.main-item1 {
  grid-area: main-item1;
  padding: 20px;
}

.main-item1 .itemDetail-card.rented {
  display: block;
  opacity: 0.5;
}

.main-item1 .itemDetail-card.not-rented {
  display: none;
}

/* 두 번째 영역: 대여 가능한 아이템 */
.main-item2 {
  grid-area: main-item2;
  padding: 20px;
}

.main-item2 .itemDetail-card.rented {
  display: none;
}

.main-item2 .itemDetail-card.not-rented {
  display: block;
}

.main-grid-container.with-rented {
  grid-template-rows: auto 1fr 1fr;
}

.main-grid-container.without-rented {
  grid-template-rows: auto 1fr;
}

.main-grid-container.without-rented .main-item1 {
  display: none;
}

.main-grid-container.without-rented .main-item2 {
  grid-row: 2;
}

.itemDetail-card {
  width: 200px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  border: 1px solid #ccc;
}

.itemDetail-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.item-buttons {
    margin-top: 10px;
}
